<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <div>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/registration"><mat-icon>create</mat-icon></button>
    <button mat-button matTooltip="This component is for registration and login."><mat-icon>info</mat-icon></button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

