<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Expiration Column -->
  <ng-container matColumnDef="expiration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration </th>
    <td mat-cell *matCellDef="let element"> {{element.expiration}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="selectRow(row)"
      [class.row-is-clicked]="selectedRow === row"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
