<mat-toolbar color="primary">
  <span>
    <button mat-button (click)="navigateToTodos()">{{title}}</button>
  </span>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button (click)="navigateToTodos()" matTooltip="My todos"><mat-icon>listalt</mat-icon></button>
  <button mat-icon-button routerLink="/users" matTooltip="Users"><mat-icon>group</mat-icon></button>
  <button mat-icon-button matTooltip="This component demonstrates fetching data from the server."><mat-icon>info</mat-icon></button>
  <button mat-icon-button (click)="logout()" matTooltip="Logout"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<router-outlet></router-outlet>
